footer {
  background-color: black;
  padding: 25px 0;
  .container {
    p {
      text-align: center;
      color: white;
      font-weight: 4x00;
      font-size: 14px;
      font-family: "Raleway", sans-serif;
    }
  }
}
